.topnav {
    background-color: #8B6212;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    position: relative;
  }

  .topnav a.active {
    background-color:  #43572E;
    color: white;
  }

.background{
  justify-content: center;
  width: 1315px;
  border: 5px solid rgb(49, 49, 49);
  padding: 3px;
}

.Logo{
  padding: 10px;
  position: relative;
  left: 295px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitulo{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.duo-text{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dica{
  border-radius: 10px;
  text-align: center;
}

.projet{
  color: #C4C5BA;
 text-decoration: solid;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tel{
  color: #C4C5BA;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo2{
    width: 260px;
    text-align: center;
    position: relative;
    left: 525px;
}

.responsive{
  color: #1B1B1B;
}
