.topnav {
    background-color: #8B6212;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    position: relative;
  }

  .topnav a.active {
    background-color:  #43572E;
    color: white;
  }

.background{
  justify-content: center;
  width: 1315px;
  border: 5px solid rgb(49, 49, 49);
  padding: 3px;
}

.Logo{
  padding: 10px;
  position: relative;
  left: 295px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitulo{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.duo-text{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dica{
  border-radius: 10px;
  text-align: center;
}

.projet{
  color: #C4C5BA;
 text-decoration: solid;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tel{
  color: #C4C5BA;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo2{
    width: 260px;
    text-align: center;
    position: relative;
    left: 525px;
}

.responsive{
  color: #1B1B1B;
}

.container{
  color: #C4C5BA;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topnav{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.como{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #C4C5BA;
}

.sobre-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 900px;
  font-size: 25px;
  text-align: center;
  position: relative;
  left: 230px;
}

.sobre-geral{
  background-color:  #43572E;
}
 
/* Style the navigation bar */
.navbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  background-color: #8B6212;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: aliceblue;
  border: 5px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media(min-width: 1024px) {
  .div-img-carousel, .item.active {
      overflow: hidden;
      width: 700px;
      height: 400px;
      margin: 0 auto;
  }

  .carousel-inner {
      width: 40%;
  }

  #meuSlider {
      width: 700px;
      height: 400px;
  }

}
